force-app/main/default/flows/Create_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Add_Product_to_Insert_List</name>
        <label>Add Product to Insert List</label>
        <locationX>633</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>productsToInsert</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Connect_Products_With_Opportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Connect_Products_With_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account</name>
        <label>Set Account</label>
        <locationX>754</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>selectedAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Info_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Account_0</name>
        <label>Set Account</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>selectedAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Info_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Account</name>
        <label>Set New Account</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>selectedAccount.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Opportunity_Info_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Opp_Id</name>
        <label>Set Opp Id</label>
        <locationX>633</locationX>
        <locationY>2102</locationY>
        <assignmentItems>
            <assignToReference>Connect_Products_With_Opportunity.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insertedOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Product_to_Insert_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Or_Account</name>
        <label>Case Or Account</label>
        <locationX>545</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CaseOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Account_Id</name>
        <label>Has Account Id?</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Account_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choose_Account</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Insert_New_Account</name>
        <label>Insert New Account?</label>
        <locationX>545</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Insert_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Insert_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_New_Account</name>
        <label>Need New Account?</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Opportunity_Info_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>StageName</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>New Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Opportunity</label>
    <loops>
        <name>Connect_Products_With_Opportunity</name>
        <label>Connect Products With Opportunity</label>
        <locationX>545</locationX>
        <locationY>1982</locationY>
        <collectionReference>opportunityProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Opp_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Insert_Products</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Account</name>
        <label>Insert Account</label>
        <locationX>413</locationX>
        <locationY>1646</locationY>
        <assignRecordIdToReference>selectedAccount.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Insert_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Opportunity</name>
        <label>Insert Opportunity</label>
        <locationX>545</locationX>
        <locationY>1862</locationY>
        <assignRecordIdToReference>insertedOppId</assignRecordIdToReference>
        <connector>
            <targetReference>Connect_Products_With_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>selectedAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Closed_Date_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>opportunityName_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>StageName</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>Insert_Products</name>
        <label>Insert Products</label>
        <locationX>545</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Redirect_To_Record_Details</targetReference>
        </connector>
        <inputReference>productsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>754</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Account_0</name>
        <label>Account</label>
        <locationX>490</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Account_0</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Account_Id</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Products_0_0</name>
        <label>Add Products</label>
        <locationX>545</locationX>
        <locationY>1406</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Insert_New_Account</targetReference>
        </connector>
        <fields>
            <name>addProducts</name>
            <extensionName>c:AddOpportunityProducts</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>opportunityProducts</assignToReference>
                <name>opportunityProducts</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Account</name>
        <label>Choose Account</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Need_New_Account</targetReference>
        </connector>
        <fields>
            <name>accountSearch</name>
            <extensionName>c:accountSearch</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isNewAccount</assignToReference>
                <name>isNewAccount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedAccount</assignToReference>
                <name>selectedAccount</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Account</name>
        <label>New Account</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_New_Account</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Info_0_0</name>
        <label>Opportunity Info</label>
        <locationX>545</locationX>
        <locationY>1286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Products_0_0</targetReference>
        </connector>
        <fields>
            <name>accid_0_0</name>
            <fieldText>&lt;p&gt;Account:{!selectedAccount.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>opportunityName_0_0</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stage_0_0</name>
            <choiceReferences>StageName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Stage</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Closed_Date_0_0</name>
            <dataType>Date</dataType>
            <fieldText>Closed Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_To_Record_Details</name>
        <label>Redirect To Record Details</label>
        <locationX>545</locationX>
        <locationY>2558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>redirectToRecordPage</name>
            <extensionName>c:redirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>insertedOppId</name>
                <value>
                    <elementReference>insertedOppId</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>insertedOppId</assignToReference>
                <name>insertedOppId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Case_Or_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>insertedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>insertedOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>isNewAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>opportunityProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>productsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
